In [12]:
import pandas as pd
file1 = 'State populations.csv'
state_pops = pd.read_csv(file1)
state_pops

,Name,Unnamed: 1,Pop. 1990,1990,Pop. 2000,2000,Pop. 2010,2010,Pop. 2020,2020,Pop. 2022,2022,Change 2020-22,change 2020-2022,Unnamed: 14
0,United States,NaN,"248,790,925",NaN,"281,424,600",NaN,"308,745,538",NaN,"331,449,520",NaN,"333,287,557",NaN,0.60%,NaN,NaN
1,Alabama,NaN,"4,040,389",NaN,"4,447,207",NaN,"4,779,736",NaN,"5,024,356",NaN,"5,074,296",NaN,1.00%,NaN,NaN
2,Alaska,NaN,"550,043",NaN,"626,933",NaN,"710,231",NaN,"733,378",NaN,"733,583",NaN,0.00%,NaN,NaN
3,Arizona,NaN,"3,665,339",NaN,"5,130,247",NaN,"6,392,017",NaN,"7,151,507",NaN,"7,359,197",NaN,2.90%,NaN,NaN
4,Arkansas,NaN,"2,350,624",NaN,"2,673,293",NaN,"2,915,918",NaN,"3,011,555",NaN,"3,045,637",NaN,1.10%,NaN,NaN
5,California,NaN,"29,811,427",NaN,"33,871,653",NaN,"37,253,956",NaN,"39,538,245",NaN,"39,029,342",NaN,-1.30%,NaN,NaN
6,Colorado,NaN,"3,294,473",NaN,"4,302,086",NaN,"5,029,196",NaN,"5,773,733",NaN,"5,839,926",NaN,1.10%,NaN,NaN
7,Connecticut,NaN,"3,287,116",NaN,"3,405,650",NaN,"3,574,097",NaN,"3,605,942",NaN,"3,626,205",NaN,0.60%,NaN,NaN
8,Delaware,NaN,"666,168",NaN,"783,559",NaN,"897,934",NaN,"989,957",NaN,"1,018,396",NaN,2.90%,NaN,NaN
9,District of Columbia,NaN,"606,900",NaN,"572,086",NaN,"601,723",NaN,"689,546",NaN,"671,803",NaN,-2.60%,NaN,NaN
10,Florida,NaN,"12,938,071",NaN,"15,982,571",NaN,"18,801,310",NaN,"21,538,226",NaN,"22,244,823",NaN,3.30%,NaN,NaN
11,Georgia,NaN,"6,478,149",NaN,"8,186,653",NaN,"9,687,653",NaN,"10,711,937",NaN,"10,912,876",NaN,1.90%,NaN,NaN
12,Hawaii,NaN,"1,108,229",NaN,"1,211,497",NaN,"1,360,301",NaN,"1,455,273",NaN,"1,440,196",NaN,-1.00%,NaN,NaN
13,Idaho,NaN,"1,006,734",NaN,"1,293,957",NaN,"1,567,582",NaN,"1,839,092",NaN,"1,939,033",NaN,5.40%,NaN,NaN
14,Illinois,NaN,"11,430,602",NaN,"12,419,927",NaN,"12,830,632",NaN,"12,812,545",NaN,"12,582,032",NaN,-1.80%,NaN,NaN
15,Indiana,NaN,"5,544,156",NaN,"6,080,827",NaN,"6,483,802",NaN,"6,785,668",NaN,"6,833,037",NaN,0.70%,NaN,NaN
16,Iowa,NaN,"2,776,831",NaN,"2,926,538",NaN,"3,046,355",NaN,"3,190,372",NaN,"3,200,517",NaN,0.30%,NaN,NaN
17,Kansas,NaN,"2,477,588",NaN,"2,688,925",NaN,"2,853,118",NaN,"2,937,847",NaN,"2,937,150",NaN,0.00%,NaN,NaN
18,Kentucky,NaN,"3,686,892",NaN,"4,042,193",NaN,"4,339,367",NaN,"4,505,893",NaN,"4,512,310",NaN,0.10%,NaN,NaN
19,Louisiana,NaN,"4,221,826",NaN,"4,469,035",NaN,"4,533,372",NaN,"4,657,749",NaN,"4,590,241",NaN,-1.40%,NaN,NaN
20,Maine,NaN,"1,227,928",NaN,"1,274,779",NaN,"1,328,361",NaN,"1,362,341",NaN,"1,385,340",NaN,1.70%,NaN,NaN
21,Maryland,NaN,"4,780,753",NaN,"5,296,647",NaN,"5,773,552",NaN,"6,177,213",NaN,"6,164,660",NaN,-0.20%,NaN,NaN
22,Massachusetts,NaN,"6,016,425",NaN,"6,349,364",NaN,"6,547,629",NaN,"7,029,949",NaN,"6,981,974",NaN,-0.70%,NaN,NaN
23,Michigan,NaN,"9,295,287",NaN,"9,938,823",NaN,"9,883,640",NaN,"10,077,325",NaN,"10,034,113",NaN,-0.40%,NaN,NaN
24,Minnesota,NaN,"4,375,665",NaN,"4,919,631",NaN,"5,303,925",NaN,"5,706,504",NaN,"5,717,184",NaN,0.20%,NaN,NaN
25,Mississippi,NaN,"2,575,475",NaN,"2,844,754",NaN,"2,967,297",NaN,"2,961,288",NaN,"2,940,057",NaN,-0.70%,NaN,NaN
26,Missouri,NaN,"5,116,901",NaN,"5,596,564",NaN,"5,988,927",NaN,"6,154,920",NaN,"6,177,957",NaN,0.40%,NaN,NaN
27,Montana,NaN,"799,065",NaN,"902,200",NaN,"989,415",NaN,"1,084,197",NaN,"1,122,867",NaN,3.60%,NaN,NaN
28,Nebraska,NaN,"1,578,417",NaN,"1,711,230",NaN,"1,826,341",NaN,"1,961,489",NaN,"1,967,923",NaN,0.30%,NaN,NaN
29,Nevada,NaN,"1,201,675",NaN,"1,998,250",NaN,"2,700,551",NaN,"3,104,624",NaN,"3,177,772",NaN,2.40%,NaN,NaN
30,New Hampshire,NaN,"1,109,252",NaN,"1,235,807",NaN,"1,316,470",NaN,"1,377,518",NaN,"1,395,231",NaN,1.30%,NaN,NaN
31,New Jersey,NaN,"7,747,750",NaN,"8,414,764",NaN,"8,791,894",NaN,"9,289,031",NaN,"9,261,699",NaN,-0.30%,NaN,NaN
32,New Mexico,NaN,"1,515,069",NaN,"1,819,017",NaN,"2,059,179",NaN,"2,117,527",NaN,"2,113,344",NaN,-0.20%,NaN,NaN
33,New York,NaN,"17,990,778",NaN,"18,977,026",NaN,"19,378,102",NaN,"20,201,230",NaN,"19,677,151",NaN,-2.60%,NaN,NaN
34,North Carolina,NaN,"6,632,448",NaN,"8,046,346",NaN,"9,535,483",NaN,"10,439,414",NaN,"10,698,973",NaN,2.50%,NaN,NaN
35,North Dakota,NaN,"638,800",NaN,"642,237",NaN,"672,591",NaN,"779,091",NaN,"779,261",NaN,0.00%,NaN,NaN
36,Ohio,NaN,"10,847,115",NaN,"11,353,336",NaN,"11,536,504",NaN,"11,799,374",NaN,"11,756,058",NaN,-0.40%,NaN,NaN
37,Oklahoma,NaN,"3,145,576",NaN,"3,450,451",NaN,"3,751,351",NaN,"3,959,346",NaN,"4,019,800",NaN,1.50%,NaN,NaN
38,Oregon,NaN,"2,842,337",NaN,"3,421,524",NaN,"3,831,074",NaN,"4,237,291",NaN,"4,240,137",NaN,0.10%,NaN,NaN
39,Pennsylvania,NaN,"11,882,842",NaN,"12,280,548",NaN,"12,702,379",NaN,"13,002,689",NaN,"12,972,008",NaN,-0.20%,NaN,NaN
40,Rhode Island,NaN,"1,003,464",NaN,"1,048,259",NaN,"1,052,567",NaN,"1,097,371",NaN,"1,093,734",NaN,-0.30%,NaN,NaN
41,South Carolina,NaN,"3,486,310",NaN,"4,012,023",NaN,"4,625,364",NaN,"5,118,429",NaN,"5,282,634",NaN,3.20%,NaN,NaN
42,South Dakota,NaN,"696,004",NaN,"754,858",NaN,"814,180",NaN,"886,677",NaN,"909,824",NaN,2.60%,NaN,NaN
43,Tennessee,NaN,"4,877,203",NaN,"5,689,427",NaN,"6,346,105",NaN,"6,910,786",NaN,"7,051,339",NaN,2.00%,NaN,NaN
44,Texas,NaN,"16,986,335",NaN,"20,851,028",NaN,"25,145,561",NaN,"29,145,428",NaN,"30,029,572",NaN,3.00%,NaN,NaN
45,Utah,NaN,"1,722,850",NaN,"2,233,183",NaN,"2,763,885",NaN,"3,271,614",NaN,"3,380,800",NaN,3.30%,NaN,NaN
46,Vermont,NaN,"562,758",NaN,"608,613",NaN,"625,741",NaN,"643,085",NaN,"647,064",NaN,0.60%,NaN,NaN
47,Virginia,NaN,"6,189,197",NaN,"7,079,057",NaN,"8,001,024",NaN,"8,631,384",NaN,"8,683,619",NaN,0.60%,NaN,NaN
48,Washington,NaN,"4,866,669",NaN,"5,894,281",NaN,"6,724,540",NaN,"7,705,247",NaN,"7,785,786",NaN,1.00%,NaN,NaN
49,West Virginia,NaN,"1,793,477",NaN,"1,808,193",NaN,"1,852,994",NaN,"1,793,755",NaN,"1,775,156",NaN,-1.00%,NaN,NaN
50,Wisconsin,NaN,"4,891,954",NaN,"5,363,757",NaN,"5,686,986",NaN,"5,893,725",NaN,"5,892,539",NaN,0.00%,NaN,NaN
51,Wyoming,NaN,"453,589",NaN,"493,786",NaN,"563,626",NaN,"576,837",NaN,"581,381",NaN,0.80%,NaN,NaN
52,Puerto Rico,NaN,"3,522,037",NaN,"3,808,605",NaN,"3,725,789",NaN,"3,285,874",NaN,"3,221,789",NaN,-2.00%,NaN,NaN

In [13]:
state_pops1 = state_pops.dropna(axis=1, how='all')
state_pops1

,Name,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2022,Change 2020-22
0,United States,"248,790,925","281,424,600","308,745,538","331,449,520","333,287,557",0.60%
1,Alabama,"4,040,389","4,447,207","4,779,736","5,024,356","5,074,296",1.00%
2,Alaska,"550,043","626,933","710,231","733,378","733,583",0.00%
3,Arizona,"3,665,339","5,130,247","6,392,017","7,151,507","7,359,197",2.90%
4,Arkansas,"2,350,624","2,673,293","2,915,918","3,011,555","3,045,637",1.10%
5,California,"29,811,427","33,871,653","37,253,956","39,538,245","39,029,342",-1.30%
6,Colorado,"3,294,473","4,302,086","5,029,196","5,773,733","5,839,926",1.10%
7,Connecticut,"3,287,116","3,405,650","3,574,097","3,605,942","3,626,205",0.60%
8,Delaware,"666,168","783,559","897,934","989,957","1,018,396",2.90%
9,District of Columbia,"606,900","572,086","601,723","689,546","671,803",-2.60%
10,Florida,"12,938,071","15,982,571","18,801,310","21,538,226","22,244,823",3.30%
11,Georgia,"6,478,149","8,186,653","9,687,653","10,711,937","10,912,876",1.90%
12,Hawaii,"1,108,229","1,211,497","1,360,301","1,455,273","1,440,196",-1.00%
13,Idaho,"1,006,734","1,293,957","1,567,582","1,839,092","1,939,033",5.40%
14,Illinois,"11,430,602","12,419,927","12,830,632","12,812,545","12,582,032",-1.80%
15,Indiana,"5,544,156","6,080,827","6,483,802","6,785,668","6,833,037",0.70%
16,Iowa,"2,776,831","2,926,538","3,046,355","3,190,372","3,200,517",0.30%
17,Kansas,"2,477,588","2,688,925","2,853,118","2,937,847","2,937,150",0.00%
18,Kentucky,"3,686,892","4,042,193","4,339,367","4,505,893","4,512,310",0.10%
19,Louisiana,"4,221,826","4,469,035","4,533,372","4,657,749","4,590,241",-1.40%
20,Maine,"1,227,928","1,274,779","1,328,361","1,362,341","1,385,340",1.70%
21,Maryland,"4,780,753","5,296,647","5,773,552","6,177,213","6,164,660",-0.20%
22,Massachusetts,"6,016,425","6,349,364","6,547,629","7,029,949","6,981,974",-0.70%
23,Michigan,"9,295,287","9,938,823","9,883,640","10,077,325","10,034,113",-0.40%
24,Minnesota,"4,375,665","4,919,631","5,303,925","5,706,504","5,717,184",0.20%
25,Mississippi,"2,575,475","2,844,754","2,967,297","2,961,288","2,940,057",-0.70%
26,Missouri,"5,116,901","5,596,564","5,988,927","6,154,920","6,177,957",0.40%
27,Montana,"799,065","902,200","989,415","1,084,197","1,122,867",3.60%
28,Nebraska,"1,578,417","1,711,230","1,826,341","1,961,489","1,967,923",0.30%
29,Nevada,"1,201,675","1,998,250","2,700,551","3,104,624","3,177,772",2.40%
30,New Hampshire,"1,109,252","1,235,807","1,316,470","1,377,518","1,395,231",1.30%
31,New Jersey,"7,747,750","8,414,764","8,791,894","9,289,031","9,261,699",-0.30%
32,New Mexico,"1,515,069","1,819,017","2,059,179","2,117,527","2,113,344",-0.20%
33,New York,"17,990,778","18,977,026","19,378,102","20,201,230","19,677,151",-2.60%
34,North Carolina,"6,632,448","8,046,346","9,535,483","10,439,414","10,698,973",2.50%
35,North Dakota,"638,800","642,237","672,591","779,091","779,261",0.00%
36,Ohio,"10,847,115","11,353,336","11,536,504","11,799,374","11,756,058",-0.40%
37,Oklahoma,"3,145,576","3,450,451","3,751,351","3,959,346","4,019,800",1.50%
38,Oregon,"2,842,337","3,421,524","3,831,074","4,237,291","4,240,137",0.10%
39,Pennsylvania,"11,882,842","12,280,548","12,702,379","13,002,689","12,972,008",-0.20%
40,Rhode Island,"1,003,464","1,048,259","1,052,567","1,097,371","1,093,734",-0.30%
41,South Carolina,"3,486,310","4,012,023","4,625,364","5,118,429","5,282,634",3.20%
42,South Dakota,"696,004","754,858","814,180","886,677","909,824",2.60%
43,Tennessee,"4,877,203","5,689,427","6,346,105","6,910,786","7,051,339",2.00%
44,Texas,"16,986,335","20,851,028","25,145,561","29,145,428","30,029,572",3.00%
45,Utah,"1,722,850","2,233,183","2,763,885","3,271,614","3,380,800",3.30%
46,Vermont,"562,758","608,613","625,741","643,085","647,064",0.60%
47,Virginia,"6,189,197","7,079,057","8,001,024","8,631,384","8,683,619",0.60%
48,Washington,"4,866,669","5,894,281","6,724,540","7,705,247","7,785,786",1.00%
49,West Virginia,"1,793,477","1,808,193","1,852,994","1,793,755","1,775,156",-1.00%
50,Wisconsin,"4,891,954","5,363,757","5,686,986","5,893,725","5,892,539",0.00%
51,Wyoming,"453,589","493,786","563,626","576,837","581,381",0.80%
52,Puerto Rico,"3,522,037","3,808,605","3,725,789","3,285,874","3,221,789",-2.00%

In [14]:
state_pops_cleaned = state_pops1.drop(['Pop. 1990', 'Pop. 2000'], axis=1)
state_pops_cleaned

                    Name    Pop. 2010    Pop. 2020    Pop. 2022 Change 2020-22
0          United States  308,745,538  331,449,520  333,287,557          0.60%
1                Alabama    4,779,736    5,024,356    5,074,296          1.00%
2                 Alaska      710,231      733,378      733,583          0.00%
3                Arizona    6,392,017    7,151,507    7,359,197          2.90%
4               Arkansas    2,915,918    3,011,555    3,045,637          1.10%
5             California   37,253,956   39,538,245   39,029,342         -1.30%
6               Colorado    5,029,196    5,773,733    5,839,926          1.10%
7            Connecticut    3,574,097    3,605,942    3,626,205          0.60%
8               Delaware      897,934      989,957    1,018,396          2.90%
9   District of Columbia      601,723      689,546      671,803         -2.60%
10               Florida   18,801,310   21,538,226   22,244,823          3.30%
11               Georgia    9,687,653   10,711,937   10,912,876          1.90%
12                Hawaii    1,360,301    1,455,273    1,440,196         -1.00%
13                 Idaho    1,567,582    1,839,092    1,939,033          5.40%
14              Illinois   12,830,632   12,812,545   12,582,032         -1.80%
15               Indiana    6,483,802    6,785,668    6,833,037          0.70%
16                  Iowa    3,046,355    3,190,372    3,200,517          0.30%
17                Kansas    2,853,118    2,937,847    2,937,150          0.00%
18              Kentucky    4,339,367    4,505,893    4,512,310          0.10%
19             Louisiana    4,533,372    4,657,749    4,590,241         -1.40%
20                 Maine    1,328,361    1,362,341    1,385,340          1.70%
21              Maryland    5,773,552    6,177,213    6,164,660         -0.20%
22         Massachusetts    6,547,629    7,029,949    6,981,974         -0.70%
23              Michigan    9,883,640   10,077,325   10,034,113         -0.40%
24             Minnesota    5,303,925    5,706,504    5,717,184          0.20%
25           Mississippi    2,967,297    2,961,288    2,940,057         -0.70%
26              Missouri    5,988,927    6,154,920    6,177,957          0.40%
27               Montana      989,415    1,084,197    1,122,867          3.60%
28              Nebraska    1,826,341    1,961,489    1,967,923          0.30%
29                Nevada    2,700,551    3,104,624    3,177,772          2.40%
30         New Hampshire    1,316,470    1,377,518    1,395,231          1.30%
31            New Jersey    8,791,894    9,289,031    9,261,699         -0.30%
32            New Mexico    2,059,179    2,117,527    2,113,344         -0.20%
33              New York   19,378,102   20,201,230   19,677,151         -2.60%
34        North Carolina    9,535,483   10,439,414   10,698,973          2.50%
35          North Dakota      672,591      779,091      779,261          0.00%
36                  Ohio   11,536,504   11,799,374   11,756,058         -0.40%
37              Oklahoma    3,751,351    3,959,346    4,019,800          1.50%
38                Oregon    3,831,074    4,237,291    4,240,137          0.10%
39          Pennsylvania   12,702,379   13,002,689   12,972,008         -0.20%
40          Rhode Island    1,052,567    1,097,371    1,093,734         -0.30%
41        South Carolina    4,625,364    5,118,429    5,282,634          3.20%
42          South Dakota      814,180      886,677      909,824          2.60%
43             Tennessee    6,346,105    6,910,786    7,051,339          2.00%
44                 Texas   25,145,561   29,145,428   30,029,572          3.00%
45                  Utah    2,763,885    3,271,614    3,380,800          3.30%
46               Vermont      625,741      643,085      647,064          0.60%
47              Virginia    8,001,024    8,631,384    8,683,619          0.60%
48            Washington    6,724,540    7,705,247    7,785,786          1.00%
49         West Virginia    1,852,994    1,793,755    1,775,156         -1.00%
50             Wisconsin    5,686,986    5,893,725    5,892,539          0.00%
51               Wyoming      563,626      576,837      581,381          0.80%
52           Puerto Rico    3,725,789    3,285,874    3,221,789         -2.00%

In [15]:
import pandas as pd
file2 = 'State Pop Age.csv'
state_pops_over18 = pd.read_csv(file2)
state_pops_over18

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Estimates of the Total Resident Population and...,NaN,NaN,NaN
1,Geographic Area,Total Resident\nPopulation,Resident Population Age 18\n Years and Older,NaN
2,NaN,NaN,Number,Percent
3,United States,"333,287,557","260,836,730",78.3
4,Northeast,"57,040,406","45,544,589",79.8
...,...,...,...,...
61,Note: The estimates are developed from a base ...,NaN,NaN,NaN
62,Suggested Citation:,NaN,NaN,NaN
63,Estimates of the Total Resident Population and...,NaN,NaN,NaN
64,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN
65,Release Date: December 2022,NaN,NaN,NaN

In [16]:
state_pops_over18_rows = state_pops_over18.iloc[3:61, :]
rows_to_remove =[59]

state_pops_over18_rows = state_pops_over18_rows.drop(rows_to_remove)
state_pops_over18_rows

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3
3,United States,"333,287,557","260,836,730",78.3
4,Northeast,"57,040,406","45,544,589",79.8
5,Midwest,"68,787,595","53,626,659",78.0
6,South,"128,716,192","100,098,310",77.8
7,West,"78,743,364","61,567,172",78.2
8,.Alabama,"5,074,296","3,962,734",78.1
9,.Alaska,"733,583","557,060",75.9
10,.Arizona,"7,359,197","5,770,187",78.4
11,.Arkansas,"3,045,637","2,348,518",77.1
12,.California,"39,029,342","30,523,315",78.2
13,.Colorado,"5,839,926","4,624,351",79.2
14,.Connecticut,"3,626,205","2,895,175",79.8
15,.Delaware,"1,018,396","810,269",79.6
16,.District of Columbia,"671,803","547,328",81.5
17,.Florida,"22,244,823","17,948,469",80.7
18,.Georgia,"10,912,876","8,402,753",77.0
19,.Hawaii,"1,440,196","1,142,870",79.4
20,.Idaho,"1,939,033","1,475,629",76.1
21,.Illinois,"12,582,032","9,861,901",78.4
22,.Indiana,"6,833,037","5,263,114",77.0
23,.Iowa,"3,200,517","2,476,028",77.4
24,.Kansas,"2,937,150","2,246,318",76.5
25,.Kentucky,"4,512,310","3,507,735",77.7
26,.Louisiana,"4,590,241","3,528,548",76.9
27,.Maine,"1,385,340","1,137,442",82.1
28,.Maryland,"6,164,660","4,818,071",78.2
29,.Massachusetts,"6,981,974","5,644,540",80.8
30,.Michigan,"10,034,113","7,924,418",79.0
31,.Minnesota,"5,717,184","4,423,022",77.4
32,.Mississippi,"2,940,057","2,261,996",76.9
33,.Missouri,"6,177,957","4,813,049",77.9
34,.Montana,"1,122,867","889,114",79.2
35,.Nebraska,"1,967,923","1,491,246",75.8
36,.Nevada,"3,177,772","2,487,994",78.3
37,.New Hampshire,"1,395,231","1,142,307",81.9
38,.New Jersey,"9,261,699","7,267,590",78.5
39,.New Mexico,"2,113,344","1,653,831",78.3
40,.New York,"19,677,151","15,687,863",79.7
41,.North Carolina,"10,698,973","8,404,094",78.6
42,.North Dakota,"779,261","596,486",76.5
43,.Ohio,"11,756,058","9,193,508",78.2
44,.Oklahoma,"4,019,800","3,066,654",76.3
45,.Oregon,"4,240,137","3,403,149",80.3
46,.Pennsylvania,"12,972,008","10,347,543",79.8
47,.Rhode Island,"1,093,734","889,822",81.4
48,.South Carolina,"5,282,634","4,164,762",78.8
49,.South Dakota,"909,824","690,659",75.9
50,.Tennessee,"7,051,339","5,513,202",78.2
51,.Texas,"30,029,572","22,573,234",75.2
52,.Utah,"3,380,800","2,449,192",72.4
53,.Vermont,"647,064","532,307",82.3
54,.Virginia,"8,683,619","6,816,709",78.5
55,.Washington,"7,785,786","6,139,213",78.9
56,.West Virginia,"1,775,156","1,423,234",80.2
57,.Wisconsin,"5,892,539","4,646,910",78.9
58,.Wyoming,"581,381","451,267",77.6
60,Puerto Rico,"3,221,789","2,703,450",83.9

In [17]:
columns_to_rename = {'table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)': 'Geographic Area', 'Unnamed: 1': 'Total resident population', 'Unnamed: 2': 'Number of residents over 18', 'Unnamed: 3': 'Percent of residents over 18'}
state_pops_over18_1 = state_pops_over18_rows.rename(columns=columns_to_rename, inplace=False)
state_pops_over18_1

,Geographic Area,Total resident population,Number of residents over 18,Percent of residents over 18
3,United States,"333,287,557","260,836,730",78.3
4,Northeast,"57,040,406","45,544,589",79.8
5,Midwest,"68,787,595","53,626,659",78.0
6,South,"128,716,192","100,098,310",77.8
7,West,"78,743,364","61,567,172",78.2
8,.Alabama,"5,074,296","3,962,734",78.1
9,.Alaska,"733,583","557,060",75.9
10,.Arizona,"7,359,197","5,770,187",78.4
11,.Arkansas,"3,045,637","2,348,518",77.1
12,.California,"39,029,342","30,523,315",78.2
13,.Colorado,"5,839,926","4,624,351",79.2
14,.Connecticut,"3,626,205","2,895,175",79.8
15,.Delaware,"1,018,396","810,269",79.6
16,.District of Columbia,"671,803","547,328",81.5
17,.Florida,"22,244,823","17,948,469",80.7
18,.Georgia,"10,912,876","8,402,753",77.0
19,.Hawaii,"1,440,196","1,142,870",79.4
20,.Idaho,"1,939,033","1,475,629",76.1
21,.Illinois,"12,582,032","9,861,901",78.4
22,.Indiana,"6,833,037","5,263,114",77.0
23,.Iowa,"3,200,517","2,476,028",77.4
24,.Kansas,"2,937,150","2,246,318",76.5
25,.Kentucky,"4,512,310","3,507,735",77.7
26,.Louisiana,"4,590,241","3,528,548",76.9
27,.Maine,"1,385,340","1,137,442",82.1
28,.Maryland,"6,164,660","4,818,071",78.2
29,.Massachusetts,"6,981,974","5,644,540",80.8
30,.Michigan,"10,034,113","7,924,418",79.0
31,.Minnesota,"5,717,184","4,423,022",77.4
32,.Mississippi,"2,940,057","2,261,996",76.9
33,.Missouri,"6,177,957","4,813,049",77.9
34,.Montana,"1,122,867","889,114",79.2
35,.Nebraska,"1,967,923","1,491,246",75.8
36,.Nevada,"3,177,772","2,487,994",78.3
37,.New Hampshire,"1,395,231","1,142,307",81.9
38,.New Jersey,"9,261,699","7,267,590",78.5
39,.New Mexico,"2,113,344","1,653,831",78.3
40,.New York,"19,677,151","15,687,863",79.7
41,.North Carolina,"10,698,973","8,404,094",78.6
42,.North Dakota,"779,261","596,486",76.5
43,.Ohio,"11,756,058","9,193,508",78.2
44,.Oklahoma,"4,019,800","3,066,654",76.3
45,.Oregon,"4,240,137","3,403,149",80.3
46,.Pennsylvania,"12,972,008","10,347,543",79.8
47,.Rhode Island,"1,093,734","889,822",81.4
48,.South Carolina,"5,282,634","4,164,762",78.8
49,.South Dakota,"909,824","690,659",75.9
50,.Tennessee,"7,051,339","5,513,202",78.2
51,.Texas,"30,029,572","22,573,234",75.2
52,.Utah,"3,380,800","2,449,192",72.4
53,.Vermont,"647,064","532,307",82.3
54,.Virginia,"8,683,619","6,816,709",78.5
55,.Washington,"7,785,786","6,139,213",78.9
56,.West Virginia,"1,775,156","1,423,234",80.2
57,.Wisconsin,"5,892,539","4,646,910",78.9
58,.Wyoming,"581,381","451,267",77.6
60,Puerto Rico,"3,221,789","2,703,450",83.9

In [19]:
state_pops_over18_cleaned = state_pops_over18_1.drop(['Total resident population', 'Percent of residents over 18'], axis=1)
state_pops_over18_cleaned

          Geographic Area Number of residents over 18
3           United States                 260,836,730
4               Northeast                  45,544,589
5                 Midwest                  53,626,659
6                   South                 100,098,310
7                    West                  61,567,172
8                .Alabama                   3,962,734
9                 .Alaska                     557,060
10               .Arizona                   5,770,187
11              .Arkansas                   2,348,518
12            .California                  30,523,315
13              .Colorado                   4,624,351
14           .Connecticut                   2,895,175
15              .Delaware                     810,269
16  .District of Columbia                     547,328
17               .Florida                  17,948,469
18               .Georgia                   8,402,753
19                .Hawaii                   1,142,870
20                 .Idaho                   1,475,629
21              .Illinois                   9,861,901
22               .Indiana                   5,263,114
23                  .Iowa                   2,476,028
24                .Kansas                   2,246,318
25              .Kentucky                   3,507,735
26             .Louisiana                   3,528,548
27                 .Maine                   1,137,442
28              .Maryland                   4,818,071
29         .Massachusetts                   5,644,540
30              .Michigan                   7,924,418
31             .Minnesota                   4,423,022
32           .Mississippi                   2,261,996
33              .Missouri                   4,813,049
34               .Montana                     889,114
35              .Nebraska                   1,491,246
36                .Nevada                   2,487,994
37         .New Hampshire                   1,142,307
38            .New Jersey                   7,267,590
39            .New Mexico                   1,653,831
40              .New York                  15,687,863
41        .North Carolina                   8,404,094
42          .North Dakota                     596,486
43                  .Ohio                   9,193,508
44              .Oklahoma                   3,066,654
45                .Oregon                   3,403,149
46          .Pennsylvania                  10,347,543
47          .Rhode Island                     889,822
48        .South Carolina                   4,164,762
49          .South Dakota                     690,659
50             .Tennessee                   5,513,202
51                 .Texas                  22,573,234
52                  .Utah                   2,449,192
53               .Vermont                     532,307
54              .Virginia                   6,816,709
55            .Washington                   6,139,213
56         .West Virginia                   1,423,234
57             .Wisconsin                   4,646,910
58               .Wyoming                     451,267
60            Puerto Rico                   2,703,450

In [21]:
import pandas as pd
file3 = 'uszips.csv'
uszips = pd.read_csv(file3)
uszips

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Aasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ...",Aasco|Moca|Las Maras|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,13.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,917.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1445.0,4.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,11.0,0.9,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2161.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [22]:
uszips_drop = uszips.dropna(axis=1, how='all')
uszips_drop

,zip,lat,lng,city,state_id,state_name,zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,5751.0,50.1,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,26153.0,272.1,72011,Aasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ...",Aasco|Moca|Las Maras|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,13.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,917.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,1445.0,4.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,11.0,0.9,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,2161.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [23]:
columns_to_remove = ['population', 'lat', 'lng', 'state_id', 'parent_zcta', 'zcta', 'density', 'county_fips', 'county_weights', 'county_names_all', 'county_fips_all', 'imprecise', 'military', 'timezone']
uszips_cleaned = uszips.drop(columns=columns_to_remove)
uszips_cleaned

         zip         city   state_name            county_name
0        601     Adjuntas  Puerto Rico               Adjuntas
1        602       Aguada  Puerto Rico                 Aguada
2        603    Aguadilla  Puerto Rico              Aguadilla
3        606      Maricao  Puerto Rico                Maricao
4        610       Anasco  Puerto Rico                 Aasco
...      ...          ...          ...                    ...
33783  99923        Hyder       Alaska  Prince of Wales-Hyder
33784  99925      Klawock       Alaska  Prince of Wales-Hyder
33785  99926   Metlakatla       Alaska  Prince of Wales-Hyder
33786  99927  Point Baker       Alaska  Prince of Wales-Hyder
33787  99929     Wrangell       Alaska               Wrangell

[33788 rows x 4 columns]